@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Josefin;
  src: url("./assets/JosefinSans.ttf");
}

body {
  font-family: Josefin;
  background-color: #fafafa;
}
